* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica;
    font-weight: bold;
    font-size: 25px;
}

.headers-footers{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    background-color: #0000FF;
    color: white;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*padding: 20px;*/
    /*gap: 41px;*/
    padding: 6vw;
    gap: 11vw;
}

.block{
    display: flex;
    border: 5px solid black;
    align-items: center;
    justify-content:center;
    text-align: center;
    width: 100%;
    height: 44vw;
    font-size: 6.7vw;
}

    /* Макет для десктопа */
    @media only screen and (min-width: 391px) {
        .container{
            /*padding: 102px 110px;
            gap: 20px;*/
            padding: 7vw 7.6vw;
            gap: 1.4vw;

        }
        .block{
            width: 45%;
            height: 20.8vw;
            font-size: 3.5vw;        
        }    
      }
