*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 20px;
    font-family: Helvetica;
}

li{
list-style: none;
}

.content{
    display: flex;
    padding: 52px 70px;
    justify-content: center;
    gap: 50px;      
}

.recipe-block{
    display: flex;
    width: 400px;
    border-radius: 30px;
    border: 5px solid #E5E000;
    padding: 33px 33px;
    flex-direction: column;
    justify-content: left;
    align-items:flex-start;
}

.recipe-block h1{
    margin-bottom: 41px;
}

.recipe-block ul{
    margin-bottom: 33px;
}

.recipe-block ul:last-child{
    margin-bottom: 0px;
}
.recipe-block li{
    font-size: 20px;
    font-family: 'Times New Roman';
    font-weight: normal;
}

.recipe-block li:first-child{
    text-transform: uppercase;
}

.stripe{
    display: flex;
    height: 60px;
    color: white;
    background-color: #FE1A19;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    text-transform: uppercase;
}

.stripe a{
    color: white;
    text-decoration: none;
}

